@charset "utf-8";
@font-face {
  font-family: NanumSquareWebFont;
  font-style: normal;
  font-weight: 300;
  src: url(../font/NanumSquare_acR.eot);
  src: url(../font/NanumSquare_acR.eot?#iefix) format("embedded-opentype"),
    url(../font/NanumSquare_acR.woff) format("woff"),
    url(../font/NanumSquare_acR.ttf) format("truetype");
}
@font-face {
  font-family: NanumSquareWebFont;
  font-style: normal;
  font-weight: 700;
  src: url(../font/NanumSquare_acB.eot);
  src: url(../font/NanumSquare_acB.eot?#iefix) format("embedded-opentype"),
    url(../font/NanumSquare_acB.woff) format("woff"),
    url(../font/NanumSquare_acB.ttf) format("truetype");
}
@font-face {
  font-family: NanumSquareWebFont;
  font-style: normal;
  font-weight: 900;
  src: url(../font/NanumSquare_acEB.eot);
  src: url(../font/NanumSquare_acEB.eot?#iefix) format("embedded-opentype"),
    url(../font/NanumSquare_acEB.woff) format("woff"),
    url(../font/NanumSquare_acEB.ttf) format("truetype");
}
@font-face {
  font-family: NanumSquareWebFont;
  font-style: normal;
  font-weight: 100;
  src: url(../font/NanumSquare_acL.eot);
  src: url(../font/NanumSquare_acL.eot?#iefix) format("embedded-opentype"),
    url(../font/NanumSquare_acL.woff) format("woff"),
    url(../font/NanumSquare_acL.ttf) format("truetype");
}

@font-face {
  font-family: NanumSquareWebFont-edwith;
  font-style: normal;
  font-weight: 100;
  src: url(https://ssl.pstatic.net/static/connectfdn/edwith/font/NanumSquare_acL.eot);
  src: url(https://ssl.pstatic.net/static/connectfdn/edwith/font/NanumSquare_acL.eot?#iefix)
      format("embedded-opentype"),
    url(https://ssl.pstatic.net/static/connectfdn/edwith/font/NanumSquare_acL.woff)
      format("woff"),
    url(https://ssl.pstatic.net/static/connectfdn/edwith/font/NanumSquare_acL.ttf)
      format("truetype");
}
@font-face {
  font-family: NanumSquareWebFont-edwith;
  font-style: normal;
  font-weight: 300;
  src: url(https://ssl.pstatic.net/static/connectfdn/edwith/font/NanumSquare_acR.eot);
  src: url(https://ssl.pstatic.net/static/connectfdn/edwith/font/NanumSquare_acR.eot?#iefix)
      format("embedded-opentype"),
    url(https://ssl.pstatic.net/static/connectfdn/edwith/font/NanumSquare_acR.woff)
      format("woff"),
    url(https://ssl.pstatic.net/static/connectfdn/edwith/font/NanumSquare_acR.ttf)
      format("truetype");
}
@font-face {
  font-family: NanumSquareWebFont-edwith;
  font-style: normal;
  font-weight: 700;
  src: url(https://ssl.pstatic.net/static/connectfdn/edwith/font/NanumSquare_acB.eot);
  src: url(https://ssl.pstatic.net/static/connectfdn/edwith/font/NanumSquare_acB.eot?#iefix)
      format("embedded-opentype"),
    url(https://ssl.pstatic.net/static/connectfdn/edwith/font/NanumSquare_acB.woff)
      format("woff"),
    url(https://ssl.pstatic.net/static/connectfdn/edwith/font/NanumSquare_acB.ttf)
      format("truetype");
}
@font-face {
  font-family: NanumSquareWebFont-edwith;
  font-style: normal;
  font-weight: 900;
  src: url(https://ssl.pstatic.net/static/connectfdn/edwith/font/NanumSquare_acEB.eot);
  src: url(https://ssl.pstatic.net/static/connectfdn/edwith/font/NanumSquare_acEB.eot?#iefix)
      format("embedded-opentype"),
    url(https://ssl.pstatic.net/static/connectfdn/edwith/font/NanumSquare_acEB.woff)
      format("woff"),
    url(https://ssl.pstatic.net/static/connectfdn/edwith/font/NanumSquare_acEB.ttf)
      format("truetype");
}

@font-face {
  font-family: "NanumSquareR";
  src: url(https://ssl.pstatic.net/static/connectfdn/edwith/RB.21.09.16.0/webfont/NanumSquare/NanumSquareR.eot);
  src: url(https://ssl.pstatic.net/static/connectfdn/edwith/RB.21.09.16.0/webfont/NanumSquare/NanumSquareR.eot?#iefix)
      format("embedded-opentype"),
    url(https://ssl.pstatic.net/static/connectfdn/edwith/RB.21.09.16.0/webfont/NanumSquare/NanumSquareR.woff)
      format("woff"),
    url(https://ssl.pstatic.net/static/connectfdn/edwith/RB.21.09.16.0/webfont/NanumSquare/NanumSquareR.woff2)
      format("woff2"),
    url(https://ssl.pstatic.net/static/connectfdn/edwith/RB.21.09.16.0/webfont/NanumSquare/NanumSquareR.ttf)
      format("truetype");
}

@font-face {
  font-family: "NanumSquareB";
  src: url(https://ssl.pstatic.net/static/connectfdn/edwith/RB.21.09.16.0/webfont/NanumSquare/NanumSquareB.eot);
  src: url(https://ssl.pstatic.net/static/connectfdn/edwith/RB.21.09.16.0/webfont/NanumSquare/NanumSquareB.eot?#iefix)
      format("embedded-opentype"),
    url(https://ssl.pstatic.net/static/connectfdn/edwith/RB.21.09.16.0/webfont/NanumSquare/NanumSquareB.woff)
      format("woff"),
    url(https://ssl.pstatic.net/static/connectfdn/edwith/RB.21.09.16.0/webfont/NanumSquare/NanumSquareB.woff2)
      format("woff2"),
    url(https://ssl.pstatic.net/static/connectfdn/edwith/RB.21.09.16.0/webfont/NanumSquare/NanumSquareB.ttf)
      format("truetype");
}

@font-face {
  font-family: "NanumSquareLight";
  src: url(https://ssl.pstatic.net/static/connectfdn/edwith/RB.21.09.16.0/webfont/NanumSquare/NanumSquareLight.eot);
  src: url(https://ssl.pstatic.net/static/connectfdn/edwith/RB.21.09.16.0/webfont/NanumSquare/NanumSquareLight.eot?#iefix)
      format("embedded-opentype"),
    url(https://ssl.pstatic.net/static/connectfdn/edwith/RB.21.09.16.0/webfont/NanumSquare/NanumSquareLight.woff)
      format("woff"),
    url(https://ssl.pstatic.net/static/connectfdn/edwith/RB.21.09.16.0/webfont/NanumSquare/NanumSquareLight.woff2)
      format("woff2"),
    url(https://ssl.pstatic.net/static/connectfdn/edwith/RB.21.09.16.0/webfont/NanumSquare/NanumSquareLight.ttf)
      format("truetype");
}

@font-face {
  font-family: "NanumSquareEB";
  src: url(https://ssl.pstatic.net/static/connectfdn/edwith/RB.21.09.16.0/webfont/NanumSquare/NanumSquareEB.eot);
  src: url(https://ssl.pstatic.net/static/connectfdn/edwith/RB.21.09.16.0/webfont/NanumSquare/NanumSquareEB.eot?#iefix)
      format("embedded-opentype"),
    url(https://ssl.pstatic.net/static/connectfdn/edwith/RB.21.09.16.0/webfont/NanumSquare/NanumSquareEB.woff)
      format("woff"),
    url(https://ssl.pstatic.net/static/connectfdn/edwith/RB.21.09.16.0/webfont/NanumSquare/NanumSquareEB.woff2)
      format("woff2"),
    url(https://ssl.pstatic.net/static/connectfdn/edwith/RB.21.09.16.0/webfont/NanumSquare/NanumSquareEB.ttf)
      format("truetype");
}

@font-face {
  font-family: se_NanumSquare_viewoss;
  font-weight: 400;
  src: url(../font/NanumSquare_se_R.eot);
  src: url(../font/NanumSquare_se_R.eot?iefix) format("opentype"),
    url(../font/NanumSquare_se_R.woff2) format("woff2"),
    url(../font/NanumSquare_se_R.woff) format("woff"),
    url(../font/NanumSquare_se_R.ttf) format("truetype");
}
@font-face {
  font-family: se_NanumSquare_viewoss;
  font-weight: 600;
  src: url(../font/NanumSquare_se_B.eot);
  src: url(../font/NanumSquare_se_B.eot?iefix) format("opentype"),
    url(../font/NanumSquare_se_B.woff2) format("woff2"),
    url(../font/NanumSquare_se_B.woff) format("woff"),
    url(../font/NanumSquare_se_B.ttf) format("truetype");
}

@font-face {
  font-family: se-nanumsquare-blog;
  font-weight: 400;
  src: url("https://editor-static.pstatic.net/c/resources/common/fonts/se-nanumsquare-regular.eot?iefix")
      format("embedded-opentype"),
    url("https://editor-static.pstatic.net/c/resources/common/fonts/se-nanumsquare-regular.woff2")
      format("woff2"),
    url("https://editor-static.pstatic.net/c/resources/common/fonts/se-nanumsquare-regular.woff")
      format("woff"),
    url("https://editor-static.pstatic.net/c/resources/common/fonts/se-nanumsquare-regular.ttf")
      format("truetype");
}
@font-face {
  font-family: se-nanumsquare-blog;
  font-weight: 700;
  src: url("https://editor-static.pstatic.net/c/resources/common/fonts/se-nanumsquare-bold.eot?iefix")
      format("embedded-opentype"),
    url("https://editor-static.pstatic.net/c/resources/common/fonts/se-nanumsquare-bold.woff2")
      format("woff2"),
    url("https://editor-static.pstatic.net/c/resources/common/fonts/se-nanumsquare-bold.woff")
      format("woff"),
    url("https://editor-static.pstatic.net/c/resources/common/fonts/se-nanumsquare-bold.ttf")
      format("truetype");
}

body,
input,
textarea,
select,
button,
table {
  font-size: 16px;
  text-align: center;
}

h3 {
  color: #03c75a;
}

.test {
  padding: 40px;
  border: 1px solid #000000;
  box-sizing: border-box;
  max-width: 960px;
  display: inline-block;
  text-align: left;
}

.test .in {
  border: 0px solid #ccc;
  background-color: #f5f5f5;
  width: 100%;
}

.line {
  width: 100%;
  height: 1px;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: #ccc;
}

a {
  display: inline-block;
  vertical-align: top;
  background: #03c75a;
  -webkit-border-radius: 24px;
  border-radius: 24px;
  padding: 8px 16px 8px;
  line-height: 1.5;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  margin-left: 8px;
  text-decoration-line: none;
}

ul {
  list-style: none;
  padding-inline-start: 0px;
}

div {
  font-size: 16px;
  line-height: 24px;
}

textarea {
  width: 100%;
  text-align: left;
}

.btn {
  position: relative;
  float: right;
}

.acL {
  font-family: NanumSquareWebFont, "NanumSquareWebFont";
  font-size: inherit;
  font-weight: 100;
  color: #000;
  line-height: inherit;
}

.acR {
  font-family: NanumSquareWebFont, "NanumSquareWebFont";
  font-size: inherit;
  font-weight: 300;
  color: #000;
  line-height: inherit;
}

.acB {
  font-family: NanumSquareWebFont, "NanumSquareWebFont";
  font-size: inherit;
  font-weight: 700;
  color: #000;
  line-height: inherit;
}

.acEB {
  font-family: NanumSquareWebFont, "NanumSquareWebFont";
  font-size: inherit;
  font-weight: 900;
  color: #000;
  line-height: inherit;
}

.edwith-acL {
  font-family: NanumSquareWebFont-edwith, "NanumSquareWebFont-edwith";
  font-size: inherit;
  font-weight: 100;
  color: #000;
  line-height: inherit;
}
.edwith-acR {
  font-family: NanumSquareWebFont-edwith, "NanumSquareWebFont-edwith";
  font-size: inherit;
  font-weight: 300;
  color: #000;
  line-height: inherit;
}

.edwith-acB {
  font-family: NanumSquareWebFont-edwith, "NanumSquareWebFont-edwith";
  font-size: inherit;
  font-weight: 700;
  color: #000;
  line-height: inherit;
}

.edwith-acEB {
  font-family: NanumSquareWebFont-edwith, "NanumSquareWebFont-edwith";
  font-size: inherit;
  font-weight: 900;
  color: #000;
  line-height: inherit;
}

.onlineL {
  font-family: "NanumSquareLight";
  font-size: inherit;
  color: #000;
  line-height: inherit;
}

.onlineR {
  font-family: "NanumSquareR";
  font-size: inherit;
  color: #000;
  line-height: inherit;
}

.onlineB {
  font-family: "NanumSquareB";
  font-size: inherit;
  color: #000;
  line-height: inherit;
}

.onlineEB {
  font-family: "NanumSquareEB";
  font-size: inherit;
  color: #000;
  line-height: inherit;
}

.seR {
  font-family: se_NanumSquare_viewoss, "se_NanumSquare_viewoss";
  font-weight: 400;
  font-size: inherit;
  color: #000;
  line-height: inherit;
}

.seB {
  font-family: se_NanumSquare_viewoss, "se_NanumSquare_viewoss";
  font-weight: 600;
  font-size: inherit;
  color: #000;
  line-height: inherit;
}
.blogR {
  font-family: se-nanumsquare-blog, "se-nanumsquare-blog";
  font-weight: 400;
  font-size: inherit;
  color: #000;
  line-height: inherit;
}

.blogB {
  font-family: se-nanumsquare-blog, "se-nanumsquare-blog";
  font-weight: 600;
  font-size: inherit;
  color: #000;
  line-height: inherit;
}
